<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="../client/bower_components/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" href="styles.css">
      <title>Billboard_Manager</title>
      <!--<base href="/">-->

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/x-icon" href="favicon.ico">

      <!-- 1. Load libraries -->
      <!-- Polyfill(s) for older browsers -->
        <script src="../client/node_modules/core-js/client/shim.min.js"></script>

        <script src="../client/node_modules/zone.js/dist/zone.js"></script>

        <script src="../client/node_modules/rxjs/bundles/Rx.js"></script>
        <script src="../client/node_modules/@angular/core/bundles/core.umd.js"></script>
        <script src="../client/node_modules/@angular/common/bundles/common.umd.js"></script>
        <script src="../client/node_modules/@angular/compiler/bundles/compiler.umd.js"></script>
        <script src="../client/node_modules/@angular/platform-browser/bundles/platform-browser.umd.js"></script>
        <script src="../client/node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script>
      <!-- 2. Configure SystemJS -->
      <script src="../client/systemjs.config.js"></script>
      <!--<script>-->
        <!--System.import('app').catch(function(err){ console.error(err); });-->
      <!--</script>-->

        <script src='../client/app/app.component.js'></script>
        <script src='../client/app/app.module.js'></script>
        <script src='../client/app/main.js'></script>
    </head>
    <body>
        <app-root>Loading...</app-root>
    </body>
</html>

